/* <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
</style> */


/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)


### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700 */

body {
    font-size: 12px;
    font-family: "Kumbh Sans";
    text-align: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 600px;
    height: 300px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: white;
    display: flex;
}

.images-section {
    width: 300px;
    height: 300px;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-position: right 67%;
    background-repeat: no-repeat;
    background-size: 200%;
    position: relative;
    bottom: -5px;
    left: -5px;
}

.image-1 {
    width: 300px;
    height: 230px;
    background-image: url("./images/illustration-woman-online-desktop.svg");
    background-position: left 25%;
    background-repeat: no-repeat;
    background-size: 95%;
    position: relative;
    bottom: -25px;
    left: -25px;
}

.image-2 {
    width: 100px;
    height: 100px;
    background-image: url('./images/illustration-box-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 75px;
    left: -50px;
}

.text-section {
    width: 300px;
    height: 300px;
    text-align: left;
    margin: 10px;
}

.question-box {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    font-size: 11px;
    color: hsl(237, 12%, 33%);
}

.question-box img {
    width: 5px;
    height: 5px;
}

.answer {
    display: none;
}